<title><%= @article2["title"] %></title>

<h1><%= @article2["body"][0]["model"]["text"] %></h1>
<img src="https://picsum.photos/640/420/?random" alt="Vestibulum pellentesque laoreet urna, eget dignissim lorem maximus vel" height="420" width="640">
<p><%= @article2["body"][2]["model"]["text"] %></p>
<p><%= @article2["body"][3]["model"]["text"] %></p>
<img src="https://picsum.photos/640/420/?random" alt="Curabitur dictum leo bibendum lacus ultrices fringilla et quis justo" height="420" width="640">
<p><%= @article2["body"][4]["model"]["text"] %></p>
<p><%= @article2["body"][5]["model"]["text"] %></p>
<img src="https://picsum.photos/640/420/?random" alt="Curabitur dictum leo bibendum lacus ultrices fringilla et quis justo" height="420" width="640">
<p><%= @article2["body"][7]["model"]["text"] %></p>
