<% @articles.each do |article| %>
<h2><%= link_to article.title, article_path(article) %></h2>
<% end %>


<h1><%= link_to "JSON 1", a1_path %></h1>
<h1><%= link_to "JSON 2", a2_path %></h1>
<h1><%= link_to "JSON 3", a3_path %></h1>
<h1><%= link_to "JSON 4", a4_path %></h1>
<h1><%= link_to "JSON 5", a5_path %></h1>
